*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: bisque;
}

.titulo{
    color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}